.data-table-wrap {
  overflow: hidden;
}

.data-table {
  display: block;
  width: 100%;
}

.data-table tbody {
  display: block;
}

.data-table td,
.data-table th {
  text-align: left;
  padding-top: theme('padding.5');
  padding-bottom: theme('padding.5');
}

.data-table tbody tr {
  background-color: theme('backgroundColor.background-lighter');
}

.data-table.compact td {
  padding-top: theme('padding[1.5]');
  padding-bottom: theme('padding[1.5]');
}

.data-table td:not(:first-child):not(:last-child) {
  padding-left: theme('padding.4');
}

.data-table td:last-child {
  word-wrap: anywhere;
}

.data-table thead {
  display: none;
}

.data-table thead tr {
  background-color: theme('backgroundColor.primary.400');
  font-size: theme('fontSize.lg');
  line-height: theme('lineHeight.7');
}

.data-table tr {
  display: block;
  margin-bottom: theme('margin.8');
  border-radius: theme('borderRadius.DEFAULT');
}

.data-table tr:last-child {
  margin-bottom: 0;
}

.data-table td {
  display: block;
  padding-right: theme('padding.4');
  padding-left: theme('padding.24');
  text-align: right;
  position: relative;
}

.data-table td:before {
  content: attr(data-title);
  position: absolute;
  left: theme('spacing.4');
  font-weight: bold;
  color: theme('textColor.primary.400');
}

@screen sm {
  .data-table td:before {
    content: none;
  }

  .data-table td {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    display: table-cell;
  }

  .data-table tr {
    border-radius: 0;
    margin-bottom: 0;
    display: table-row;
  }

  .data-table thead {
    display: table-header-group;
  }

  .data-table tbody tr:not(:last-child) td {
    border-bottom-width: 1px;
    border-color: theme('borderColor.secondary');
  }

  .data-table th:first-child,
  .data-table td:first-child,
  .data-table th:nth-child(2),
  .data-table td:nth-child(2),
  .data-table th:nth-child(3),
  .data-table td:nth-child(3),
  .data-table th:nth-child(4),
  .data-table td:nth-child(4),
  .data-table th:last-child,
  .data-table td:last-child {
    width: theme('width[1/6]');
  }

  .data-table tbody {
    display: table-row-group;
  }

  .data-table {
    display: table;
  }

  .data-table-wrap {
    border-radius: theme('borderRadius.md');
  }

  .data-table th:first-child,
  .data-table td:first-child {
    padding-left: theme('padding.5');
  }

  .data-table th:last-child,
  .data-table td:last-child {
    padding-right: theme('padding.5');
  }

  .data-table td:not(:first-child):not(:last-child) {
    padding-left: 0;
  }
}

@screen md {
  .data-table th:first-child,
  .data-table td:first-child {
    padding-left: theme('padding.10');
    width: theme('width[1/6]');
  }

  .data-table th:last-child,
  .data-table td:last-child {
    padding-right: theme('padding.10');
    width: theme('width[1/6]');
  }
}
