image: node:15-alpine

services:
  - name: postgres:12-alpine
    alias: postgres
  - name: redis:6-alpine
    alias: redis
    entrypoint: ['redis-server', '--requirepass', "${REDIS_PASSWORD}"]

variables:
  POSTGRES_SSLMODE: disable
  POSTGRES_DATABASE: telemetry
  POSTGRES_PORT: 5432
  DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DATABASE}?schema=public&sslmode=${POSTGRES_SSLMODE}
  REDIS_URL: redis://default:${REDIS_PASSWORD}@redis:6379

stages:
  - build
  - deploy

cache:
  paths:
    - ./.pnpm-store

default:
  before_script:
    - npm i -g pnpm
    - pnpm -v
    - pnpm i --virtual-store-dir ./.pnpm-store
    - pnpm prisma:generate

build:
  stage: build
  script:
    - pnpm build
