@import 'fonts/proxima-nova/proxima-nova.css';
@import 'components/data-table.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('backgroundColor.background');
  font-family: theme('fontFamily.nova'), sans-serif;
  color: theme('colors.text');
}

@layer components {
  h1,
  h2 {
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.7');
  }
}

@layer utilities {
  .break-anywhere {
    word-wrap: anywhere;
  }
}
